<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin-top: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 0 20px;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            display: block; /* Make the button a block element */
            margin: 0 auto; /* Center the button */
            margin-top: 10px; /* Add margin from the input field */
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #555;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <header>
        <h1>URL Shortener</h1>
    </header>
    <div class="container">
        <% if(locals.id){ %>
            <p>URL Generated : <a href="http://localhost:8001/url/<%= id %>">http://localhost:8001/url/<%= id %></a></p>
        <% } %>
        <div>
            <form action="/url" method="POST">
                <label for="short">Enter URL</label>
                <input type="text" name="url" id="short" placeholder="Enter valid URL" required>
                <button type="submit">Shorten URL</button>
            </form>
        </div>
        <div>
            <% if(locals.urls){ %>
                <table>
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Short ID</th>
                            <th>Redirect</th>
                            <th>Clicks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% urls.forEach((url, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= url.shortId %></td>
                                <td><%= url.redirectURL %></td>
                                <td><%= url.visitHistory.length %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } %>
        </div>
    </div>
</body>
</html>
